.alert-container {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1100;
    width: auto;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    background-color: #f7efda;
    border-color: #d9be75;
    color: #333333;
    padding: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .alert-hidden {
    opacity: 0; 
  }