# Database init
database=mysql

# Configuración de MySQL con valores predeterminados
spring.datasource.url=${MYSQL_URL:jdbc:mysql://localhost/eventbride?useSSL=false&serverTimezone=UTC}
spring.datasource.username=${MYSQL_USER:TUUSUARIO}
spring.datasource.password=${MYSQL_PASS:TUCONTRASEÑA}

# Habilitar la inicialización de la base de datos
spring.sql.init.mode=always

# Especificar el dialecto de Hibernate
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect


### Para crear usuario en base de datos 

#CREATE USER 'eventbride'@'localhost' IDENTIFIED BY 'eventbride123';
#GRANT ALL PRIVILEGES ON eventbride.* TO 'eventbride'@'localhost';
#FLUSH PRIVILEGES;